html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: .2em;
  padding-right: 4em;
  line-height: 1.5;
}
h1 {
  margin-top: 1.3em;
  font-size: 2.4em;
}
h2 {
  margin-top: 1.3em;
  font-size: 2em;
}
h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 1.2em;
}
p {
  font-size: 1.3em;
  line-height: 1.7;
  padding-right: 4em;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #999;
}


.site-header {
  padding: 2em;
}
.site-title {
  font-family: 'Noto Serif JP', serif;
  font-size: 1.6em;
  display: inline;
  padding-right: 2em;
}
.site-desc {
  display: inline;
}
.site-avatar {
  border: 1px solid #EEE;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline;
  margin-right: 1em;
  margin-bottom: -.4em;
}
.site-nav {
  font-family: 'Noto Serif JP', serif;
  list-style-type: none;
  padding: 0;
  display: inline;
}
.site-nav li {
  display: inline;
  margin-right: 2em;
}
.site-main {
  padding: 0 0 0 6.2em;
}
.site-footer {
  font-family: 'Noto Serif JP', serif;
  font-size: .8em;
  padding: 3em 0 2em 8em;
  color: #999;
  line-height: 1.7;
}


.post {
  padding: 0 0 1em;
}
.entry .post-title {
  margin-top: .8em;
}
.post-date {
  margin: 0;
  padding: 0;
  font-size: .8em;
  color: #999;
  font-weight: bold;
  display: inline;
}
.post-time {
  color: #BBB;
  padding-left: .8em;
  font-weight: normal;
}
.post-tags:before {
  content: '---';
  padding: 0 1em;
  letter-spacing: -.2em;
}
.post-tags {
  list-style-type: none;
  padding: 0;
  font-size: .8em;
  display: inline;
}
.post-tags li {
  display: inline;
  padding-right: 1em;
}
.post-tags a {
  background-color: #eee;
  padding: 1px 2px;
}


.page-title {
  font-family: 'Noto Serif JP', serif;
  font-size: .8em;
  letter-spacing: .2em;
  color: #999;
  font-weight: normal;
}
.page-content ul {
  padding: .5em 0 1em 1em;
}
.page-content li {
  line-height: 1.7;
  padding: 0 0 .5em .5em;
}
.page-content a,
.post-content a {
  padding-bottom: 1px;
  border-bottom: 1px solid #000;
}
.page-content a:hover,
.post-content a:hover {
  border-bottom: none;
}

.error-status {
  font-family: 'Noto Serif JP', serif;
  color: #EEE;
  font-size: 6em;
  text-align: center;
  padding: 0;
}

.post-author {
  margin: 3em 0;
  color: #666;
}
.post-author-avatar {
  border: 1px solid #EEE;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline;
  margin-right: 1em;
  margin-bottom: -.4em;
}
.post-author-line {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.post-author-line a {
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}
.post-author-desc {
  display: block;
  margin: 0 0 0 30px;
  padding: 0 0 0 1em;
}


@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #333;
    color: #FFF;
  }
  a {
    color: #FFF;
  }
  .post-time {
    color: #666;
  }
  .post-tags a {
    background-color: #555;
  }
  .page-content a,
  .post-content a {
    border-bottom-color: #fff;
  }
  .post-author {
    color: #AAA;
  }
}

@media (max-width: 480px) {
  html,
  body {
    font-size: .9em;
  }
  h1, h2, h3, h4, h5, p {
    padding-right: 0;
  }
  .site-header,
  .site-main,
  .site-footer {
    padding-left: 1em;
    padding-right: 1em;
  }
  .site-avatar {
    margin-right: .8em;
    margin-bottom: .5em;
    display: block;
  }
  .post-title {
    letter-spacing: -.02em;
  }
  .post-meta {
    padding-top: .5em;
  }
  .post-date,
  .post-tags {
    display: block;
  }
  .post-tags:before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    font-size: .9em;
  }
  .site-avatar {
    margin-right: .6em;
    margin-bottom: -.6em;
  }
}
